{% extends 'base.html.twig' %}

{% block title %}Districts{% endblock %}

{% block body %}
    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title">
                <h2>Find us in <span>Paris districts</span></h2>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            </div>

            <div class="row">
                {% for district in districts %}
                    <div class="col-lg-3">
                        <div class="box">
                            <span>{{ loop.index }}</span>
                            <h4>{{ district.name }}</h4>
                            <p>We have {{ district.restaurants|length }} restaurants in this district.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- End Whu Us Section -->
{% endblock %}
